$colors: (
    gray: #494949,
    light-gray: #828282,
    blue: #3597ff,
    green: #24d89b,
    border-light-gray: #e5e5e5,
    border-gray: darken(#dfdfdf, 10),
    gray-tag: #f7f7f7,
    white: #ffffff,
    black: #000000,
);

$orders: 20;
